.search-container {
  text-align: center;

}
#search {
    display: inline;
      border: none;
      padding: 1px 0;
    text-align: left;
  line-height: 1rem;
    color: var(--color);
    background: transparent;
  }
  
  #search:focus {
    outline: none;
      border: none;
  }

.search-results {
  display: none;
    background: var(--bg-secondary);
    box-shadow: 5px 5px 5px #000;
    padding: 0 1rem;
  &__header {
      font-weight: bold;
      padding: 1rem 0rem;
    }

    &__items {
      margin: 0 2vw;
      padding: 0;
      list-style: circle;
    }

    &__item {
      margin-bottom: 1rem;
    }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                &__teaser {
  }
}