@import "vars";

#taxonomy-nav {
  thead tr {
    background: var(--bg-table-head);
  }

  tbody {
    td {
      width: 75%;
      text-align: left;

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;

          &::before {
            content: "● ";
          }
        }
      }


      &:nth-child(1) {
        background: var(--bg-secondary);
        text-align: center;
        width: 10%;
      }
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    border: none;
    padding: 1rem 2rem;
  }

  th {
    background-color: var(--bg-table-head);
    color: var(--color);
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: var(--bg-table-row-even);
  }

  tr:nth-child(odd) {
    background-color: var(--bg-table-row-odd);
  }

  td:nth-child(1) {
    width: 25%;
    text-align: center;
  }

  td:nth-child(2) {
    width: 25%;
    text-align: center;
  }
}