$baseline: 1.5rem;

$background: #383742;
$color: #f9f9f9;

$bgSidebar: #3e3e3e;
$bgLevel2: #3e3e3e;

$callout-border: 1px skyblue solid;
$callout-bg: none;
$callout-color: #222;
$callout-links: rgb(200, 223, 247);
$callout-hover-links: #c00;
$callout-visited-links: rgb(246, 189, 246);

$table-bg-head: #363636;
$table-bg-odd: #575757;
$table-bg-even: #3e3e3e;
$links: rgb(200, 223, 247);
$hover-links: #c00;
$visited-links: rgb(246, 189, 246);

$font-size: 1.125rem;
$font-family: Segoe UI, system-ui, -apple-system, sans-serif;
$line-height: 1.75;
$code_font: 400 1.125rem/1.75 SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

$quote-bg: $bgLevel2;
$quote-border: #808080 8px solid;