@import "variables";

blockquote {
  display: flow-root;
}
h1.title {
  font-size: 4ex;
}

#calendar-header {
  display: flex;
  margin: 2rem 0 1rem 0;
}

#donate, #socials {
  display: flex;
  justify-content: center;
  margin: 1rem auto;

  a {
    text-decoration: none;
    color: $color;
  }

  i {
    margin: 0.5rem;
  }
img {
  display: inline;
  vertical-align: middle;
}
}
.callout-block {
  display: flow-root;
  padding: 0 1rem;
  border: $callout-border;
  background-color: $callout-bg;
  color: $callout-color;

  a {
    &:link {
      color: $callout-links;
    }

    &:visited {
      color: $callout-visited-links;
    }

    &:hover {
      color: $callout-hover-links;
    }
  }
}

.callout-block.info {
  h3::before {
    content: "🛈 ";
  }
}

.callout-block.warning {
  h3::before {
    content: "⚠ ";
  }

  border: 1px rgb(227, 214, 173) solid;
  color: rgb(249, 237, 198);
  background-color: $bgLevel2;
}

.callout-block.error {
  h3::before {
    content: "⚠ ";
  }

  border: 1px red solid;
  color: pink;
  background-color: $bgLevel2;
}

@media screen and (max-width: 1023px) {
  #wrap {
    #taxonomy-nav {
      display: flex;
      flex-direction: column;

      thead tr {
        display: block;
        background: $table-bg-head;
        text-align: center;
      }

      tbody {
        tr {
          display: flex;
          flex-direction: column;

          td {
            width: inherit;
            text-align: left;

            li {
              display: list-item;

              &::before {
                content: none;
              }
            }

            &:nth-child(1) {
              background: $bgLevel2;
              text-align: center;
              width: inherit;
            }
          }
        }
      }
    }

  }

  table {
    display: fl;
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      border: none;
      padding: 2rem;
    }

    th {
      background-color: $table-bg-head;
      color: $color;
      text-align: center;
    }

    tr:nth-child(even) {
      background-color: $table-bg-even;
    }

    tr:nth-child(odd) {
      background-color: $table-bg-odd;
    }

    td:nth-child(1) {
      width: 25%;
      text-align: center;
    }

    td:nth-child(2) {
      width: 25%;
      text-align: center;
    }
  }
}
#wrap {
  #taxonomy-nav {
      thead tr {
        background: $table-bg-head;
      }
  
      tbody {
        td {
          width: 75%;
          text-align: left;
  
          li {
            display: inline-block;
  
            &::before {
              content: "● ";
            }
          }
  
          &:nth-child(1) {
            background: $bgLevel2;
            text-align: center;
            width: 10%;
          }
        }
  
      }
  
    }
  table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      border: none;
      padding: 2rem;
    }

    th {
      background-color: $table-bg-head;
      color: $color;
      text-align: center;
    }

    tr:nth-child(even) {
      background-color: $table-bg-even;
    }

    tr:nth-child(odd) {
      background-color: $table-bg-odd;
    }

    td:nth-child(1) {
      width: 25%;
      text-align: center;
    }

    td:nth-child(2) {
      width: 25%;
      text-align: center;
    }
  }
  .sidebar-stats {
    table.stats-ability-table {
      tr {
        th, td {
          padding: 0;
          width: 1rem;
          text-align: center;
        } 
      }
    }
  dt {
    font-weight: bold;
  }
  dd {
    text-align: left;
  }
}
}

table.taxonomy-list {
  td.col-bold {
    font-weight: bold;
  }

  td.col-title {
    text-align: left;
    vertical-align: top;
  }

  td.col-left {
    width: 25%;
    text-align: left;
  }
}
.sidebar {
  h2 {
    text-align: center;
    a {
      color: $color;
    }
  }

  h3 {
    text-align: left;
    line-height: 1px;
  }

  li {
    list-style-type: none;
    text-indent: 1rem;
  }

  width: 17rem;
  margin: $baseline 0 $baseline calc(#{$baseline} * 2);
  padding: 1rem 3rem 1rem 3rem;
  font-size: 15px;
  background-color: $bgSidebar;
  overflow-x: auto;
  clear: right;
  float: right;
}
@media screen and (max-width: 1023px) {
  .sidebar {
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem 1rem;
  }
}
.mortality-dead::before {
  content: "☠ ";
}
.mortality-undead::before {
  content: "🧟‍♂️ ";
}
.mortality-unknown::before {
  content: "⚠ ";
}
.subtree {
  overflow: scroll !important;
}
#trees {
  .root-menu {
    padding: 0;

    a:link {
      color: $color !important;
    }

  }
}

.panzoom-box {
  display: flex;
  align-items: center;
  justify-content: center;

  .panzoom-container {
    height: 30rem;
    background-color: $bgLevel2;
    
      a {
        display: inline-block;
      }
  }
}
.footnote-definition {
  p {
    display: inline;
  }
}
.tree-toggle-label {
  a {
    color: $color;
    font-size: .75rem;

    &:link {
      color: $color;
    }

    &:visited {
      color: $color;
    }
  }
}

.subtree li {
  list-style-type: none;
  margin-left: $baseline;
  font-size: 1.0rem;
}

.sidebar-section {
  .subtree {
    overflow: hidden;
    margin:calc(#{$baseline} / 8) 0;
    transition: overflow 0.2s ease-in-out;
    padding: 0;
  }

  .tree-toggle-label {
    user-select: none;
    cursor: pointer;
    font-size: 1.3rem;
  }

  .tree-toggle-label::before {
    display: inline-block;
    content: "\E970";
    font-family: 'FabricMDL2Icons';
    font-size: rem;
    transform: rotate(0deg);
    transform-origin: 50% 50% 0px;
    transition: transform 0.1s linear 0s;
    margin-right: 8px;
  }

  .tree-toggle {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .tree-toggle:checked+.tree-toggle-label::before {
    content: "\E970";
    font-family: 'FabricMDL2Icons';
    font-size: .75rem;
    transform: rotate(90deg);
    transform-origin: 50% 50% 0px;
    transition: transform 0.1s linear 0s;
    margin-right: 8px;
  }

  .tree-toggle:checked+.tree-toggle-label {
    font-weight: bold;
  }

  .tree-toggle+.tree-toggle-label+.subtree {
    animation-name: slideOut;
    animation-duration: 0.25s;
    animation-fill-mode: both;
  }

  .tree-toggle:checked+.tree-toggle-label+.subtree {
    animation-name: slideIn;
    animation-duration: 0.25s;
    animation-fill-mode: both;
  }

  .subtree li {
    list-style-type: none;
    margin-left: $baseline;
    font-size: 1.2rem;
  }
}
.spoiler {
  label {
    display: block;
    font-weight: bolder;
    font: 1px;
  }

  .spoiler-toggle-checkbox {
    display: none;
  }

  .spoiler-toggle-label {
    user-select: none;
    cursor: pointer;
  }

  .spoiler-toggle-label::before {
    display: inline-block;
    content: "\E970";
    font-family: 'FabricMDL2Icons';
    font-size: .75rem;
    transform: rotate(0deg);
    transform-origin: 50% 50% 0px;
    transition: transform 0.1s linear 0s;
    margin-right: 5px;
  }

  .spoiler-toggle-checkbox:checked+.spoiler-toggle-label::before {
    content: "\E970";
    font-family: 'FabricMDL2Icons';
    transform: rotate(90deg);
    transform-origin: 50% 50% 0px;
    transition: transform 0.1s linear 0s;
  }

  .spoiler-content {
    overflow: hidden;
    transition: overflow 0.2s ease-in-out;
    background-color: $bgLevel2;
    padding: 2rem;
  }

  .spoiler-toggle-checkbox+.spoiler-toggle-label+.spoiler-content {
    animation-name: slideOut;
    animation-duration: 0.25s;
    animation-fill-mode: both;
  }

  .spoiler-toggle-checkbox:checked+.spoiler-toggle-label+.spoiler-content {
    animation-name: slideIn;
    animation-duration: 0.25s;
    animation-fill-mode: both;
  }
}
.sidebar-portrait {
  position: relative;

  .attribution-link {
    z-index: 2;
    position: absolute;
    right: 5px;
    top: 5px;
    line-height: 1;
    padding: 5px;
    background: $bgLevel2;
    opacity: 50%;
    border-radius: 5px;

    &:hover {
      opacity: 100%;
    }
  }
}
#search-box {
  display: none;
}

#search-box+label.search-box-label+.gcse-search-container {
  display: none;
}

#search-box:checked+label.search-box-label+.gcse-search-container {
  display: block;
}
