{% import "macros/utils.html" as utils %}

{% macro character(name, config) %}
  {# Character portraits#}

  {# Set mortality icon #}
  {% set mortality = 'Alive' %}
  {% if config.extra and config.extra.mortality_status%}
  {% set mortality = config.extra.mortality_status | title %}
  {% endif %}
  <h2 class="mortality-{{ mortality | lower }}" title="{{ mortality }}">
    <a target="_blank" rel="noopener" href="{% if config.extra.ddb %}{{ config.extra.ddb | safe }}{% endif %}">
      {{ name }}
    </a>
  </h2>
  <hr />

  {% set taxa = config.taxonomies %}
  {%if config.extra and config.extra.cha %}
    {{ utils::dfn_list(dict=config.extra.cha)}}
  {% endif %}
  {{ utils::list_taxa(taxon='organizations', taxa=taxa, config=config) }}
  {{ utils::list_taxa(taxon='religions', taxa=taxa, config=config) }}
  {{ utils::list_taxa(taxon='families', taxa=taxa, config=config) }}
  {{ utils::list_taxa(taxon='parents', taxa=taxa, config=config, section='characters') }}
  {{ utils::list_taxa(taxon='siblings', taxa=taxa, config=config, section='characters') }}
  {{ utils::list_taxa(taxon='children', taxa=taxa, config=config, section='characters') }}
{% endmacro character %}