{% macro location(name, config) %}
  <dl>
    {% if config.extra.population %}
    <dt>
      <h3>Population</h3>
    </dt>
    <dd>{{ config.extra.population }}</dd>
    {% endif %}
    {% if config.extra.parent_locations %}
    {% for location in config.extra.parent_locations %}
    {% if location.slug %}
    {% set slug = location.slug %}
    {% else %}
    {% set slug = location.name | slugify %}
    {% endif %}

    {% set page = get_page(path='locations/'~slug~'.md') %}
    <dt>
      <h3>{{ location.location_type | title}}</h3>
    </dt>
    <dd>
      <a href={{page.permalink}}>{{ location.name | title}}</a>
    </dd>
    {% endfor %}
    {% endif %}
{% endmacro location %}