{% import "macros/utils.html" as utils %}
{% macro location(name, config) %}
  {% if config.extra %}
  <dl>
    {% for key, item in config.extra %}
    {% if (key is starting_with("loc_")) == false %}
      {% continue %}
    {% endif %}
    <dt>
      <h3>{{ key | replace(from="loc_", to="") | replace(from="_", to=" ")| title}}</h3>
    </dt>
    {% if (item is iterable)%}
      {% for i in item %}
        <dd>{{ utils::format_config_item(key=key, item=i) }}</dd>
      {% endfor %}
    {% else %}
    <dd>{{ utils::format_config_item(key=key, item=item) }}</dd>
    {% endif %}
    {% endfor %}
  </dl>
  {% endif %}
  {{ utils::list_taxa(taxon="location_type", taxa=config.taxonomies, config=config) }}
{% endmacro location %}