{% macro dfn_list(dict) %}
<dl>
  {% for key, item in dict %}
  {% set show = (item is iterable) and item | length > 0%}
  {% set show = show or item is string and item | replace(from="date#", to='') | trim() != '' %}
  {% if show %}
  <dt>
    <h3>{{ key | replace(from="_", to=" ")| title}}</h3>
  </dt>
  {% if (item is iterable) %}
  {% for i in item %}
  <dd>{{ self::format_config_item(key=key, item=i) }}</dd>
  {% endfor %}
  {% else %}
  <dd>{{ self::format_config_item(key=key, item=item) }}</dd>
  {% endif %}
  {% endif %}
  {% endfor %}
</dl>
{% endmacro dfn_list %}

{% macro format_config_item(key, item)%}
  {% if (item is string) %}
    {% if (item is starting_with("@/")) %}
      {% set item = item | replace(from="@/", to="")%}
      {% set page = get_page(path=item, required=false) %}
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% elif (item is starting_with("date#")) %}
      {% set item = item | replace(from="date#", to="") %}
      {{ self::get_calendar_link(cal_id=config.extra.fantasy_calendar_id, date=item) }}
    {% else %}
      {{ item }}
    {% endif %}
  {% elif (item is number) %}
    {{ item | num_format() }}
  {% elif (item is object) %}
    <dl>
    {% for k,v in item %}
      <dt>{{ k | title }}</dt>
      <dd>{{ self::format_config_item(key=k, item=v) }}</dd>
    {% endfor %}
    </dl>
  {% else %}
    {{ item }}
  {% endif %}
{% endmacro format_config_item %}

{% macro list_taxa(taxon, taxa, config, section='') %}
  {% if taxon in taxa %}
    <dl>
      <dt>
        <h3>{{ taxon | replace(from="_", to=" ") | title }}</h3>
      </dt>
      {% for item in taxa[taxon] %}
        {% set page = get_taxonomy_term(kind=taxon, term=item) %}
        {% set path = page.permalink | replace(from=" ", to="-") | lower %}
        {% if section != ''%}
        {% set slug = page.name | slugify %}
        {% set path = '/' ~ section ~ '/' ~ slug %}
        {% endif %}
        <dd>
          <a href="{{ path }}">
            {{ page.name | replace(from="_", to=" ") | title }}
          </a>
        </dd>
      {% endfor %}
    </dl>
  {% endif %}
{% endmacro list_taxa %}

{% macro get_calendar_link(cal_id, date)%}
{% set split_date = date | replace(from="-", to="/") | split(pat="/")%}
{% set cal_url = "https://app.fantasy-calendar.com/calendars/"~cal_id %}
{% if split_date | length == 3 %}
  {% set date_url = cal_url~"?year="~split_date[0]~"&month="~split_date[1]~"&day="~split_date[2]%}
  <a href="{{ date_url }}" target="_blank" rel="noopener, noreferrer">{{ date }}</a>
{% else %}
{{ date }}
{% endif %}
{% endmacro %}

{% macro sidebar_portrait(config) %}
  {% if config.extra and config.extra.image %}
  {% set image = config.extra.image %}
  <div class="sidebar-portrait">
    {% set processed = image %}
    {% if image.attribution_url %}
    <div class="attribution-link">
      {% if not (image.url is starting_with("http")) %}
      {% set processed = resize_image(path=image.url, width=350, op="fit_width", format="webp") %}
      {% endif %}
      <a rel="external noopener" target="_blank" href="{{ image.attribution_url }}"><i
          class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
    {% endif %}
    {% set attribution = "Unknown, please raise an issue in the github for attibution or removal." %}
    {% if image.attribution %}
    {% set attribution = image.attribution %}
    {% endif %}
    <img src="{{ processed.url }}" title="Attribution: {{ attribution }}" />
  </div>
  {% endif %}
{% endmacro  %}