{% macro format_config_item(key, item)%}
  {% if (item is string) %}
    {% if (item is starting_with("@/")) %}
      {% set item = item | replace(from="@/", to="")%}
      {% set page = get_page(path=item, required=false) %}
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% elif (item is starting_with("date#")) %}
      {% set item = item | replace(from="", to="") %}
      {{ self::get_calendar_link(cal_id=config.extra.fantasy_calendar_id, date=item) }}
    {% else %}
      {{ item }}
    {% endif %}
  {% elif (item is number) %}
    {{ item | num_format() }}
  {% elif (item is object) %}
    <dl>
    {% for k,v in item %}
      <dt>{{ k | title }}</dt>
      <dd>{{ self::format_config_item(key=k, item=v) }}</dd>
    {% endfor %}
    </dl>
  {% else %}
    {{ item }}
  {% endif %}
{% endmacro format_config_item %}

{% macro list_taxa(taxon, taxa, config, section='') %}
  {% if taxon in taxa %}
    <dl>
      <dt>
        <h3>{{ taxon | replace(from="_", to=" ") | title }}</h3>
      </dt>
      {% for item in taxa[taxon] %}
        {% set page = get_taxonomy_term(kind=taxon, term=item) %}
        {% set path = page.permalink | replace(from=" ", to="-") | lower %}
        {% if section != ''%}
        {% set slug = page.name | slugify %}
        {% set path = '/' ~ section ~ '/' ~ slug %}
        {% endif %}
        <dd>
          <a href="{{ path }}">
            {{ page.name | replace(from="_", to=" ") | title }}
          </a>
        </dd>
      {% endfor %}
    </dl>
  {% endif %}
{% endmacro list_taxa %}

{% macro get_calendar_link(cal_id, date)%}
{% set split_date = date | replace(from="-", to="/") | split(pat="/")%}
{% set cal_url = "https://app.fantasy-calendar.com/calendars/"~cal_id %}
{% set date_url = cal_url~"?year="~split_date[0]~"&month="~split_date[1]~"&day="~split_date[2]%}
<a href="{{ date_url }}" target="_blank" rel="noopener, noreferrer">{{ date }}</a>
{% endmacro %}