{% import "macros/utils.html" as utils %}

{% macro event(name, config) %}
  <h2>{{ name }}</h2>
  {% if config.extra and config.extra.evt %}
    {{ utils::dfn_list(dict=config.extra.evt) }}
  {% endif %}
  {% set taxa = config.taxonomies %}
  {{ utils::list_taxa(taxon='primary_characters', taxa=taxa, config=config, section='characters') }}
  {{ utils::list_taxa(taxon='primary_families', taxa=taxa, config=config, section='families') }}
  {{ utils::list_taxa(taxon='primary_organizations', taxa=taxa, config=config, section='organizations') }}
{% endmacro event %}