{%- import "macros/utils.html" as utils -%}
{%- import "macros.html" as macros -%}
<!DOCTYPE html>
<html>
<head>
  <title>
    {% block title %}
    {{ config.title }}
    {% endblock title %}
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="height=device-height,width=device-width" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">
  <link rel="stylesheet" href="{{ get_url(path='index.css') | safe }}" />
  <script src="https://kit.fontawesome.com/b161e13895.js" crossorigin="anonymous" defer></script>
  {% include "components/favicon.html" %}
  </head>
  
  <body>
    {% block header %}
    {% include "components/header.html" %}
    {% if config.build_search_index -%}
    
    {% endif -%}
    {% endblock header %}
    <main>
      {% block nav %}
      {% include "components/nav.html" %}
      {% endblock nav %}
      <article>
          <div class="search-results">
            <div class="search-results__header"></div>
            <ul class="search-results__items"></ul>
          </div>
        {% block content %}
        {% set section = get_section(path="_index.md") %}
        {{ section.content | safe }}
      {% endblock content %}
      </article>
    </main>
  <footer></footer>
  {% if config.build_search_index %}
  <script type="text/javascript" src="{{ get_url(path='elasticlunr.min.js') | safe }}" defer></script>
  <script type="text/javascript" src="{{ get_url(path='search_index.en.js') | safe }}" defer></script>
  {% endif -%}
  <script type="text/javascript" src="{{ get_url(path='js.js') | safe }}" defer></script>
  <script type="text/javascript" src="{{ get_url(path='main.js') | safe }}" defer></script>
</body>
  
  </html>