{% import "macros/sidebar/character.html" as char %}
{% import "macros/sidebar/location.html" as loc %}

{% macro callout(type="", body) %}
<div class="callout-block {{ type | lower }}">
  <h3>{{ type | title }}</h3>
  <p>{{ body }}</p>
</div>
{% endmacro callout%}

{% macro calendar(embed="calendar-embed", theme="blue_grey", size="xl") %}
<div id="{{ embed }}"></div>
<script src='https://app.fantasy-calendar.com/js/embed.js'></script>
<script>
  FantasyCalendar({
    selector: "#{{ embed }}",
    hash: '089e518f9ea966373b1c71535c25b98a',
    settings: {
      theme: "{{ theme }}",
      size: "{{ size }}"
    },
  });
</script>
{% endmacro calendar %}

{% macro sidebar_location(name, config) %}
{{ loc::location(name=name, config=config) }}
{% endmacro sidebar_location %}

{% macro sidebar_character(name, config) %}
  {{ char::character(name=name, config=config) }}
{% endmacro sidebar_character %}
  