{% extends "index.html" %}
{% import "macros/utils.html" as utils %}
{% import "macros.html" as macros %}
{% block title %}
{{ page.title }} | {{ config.title }}
{% endblock title %}
{% block content %}
<div id="content">
  {% block content_title %}
  <section>
    <h1>
      {% if page.extra.reformat_title | default(value=true) %}
      {{ page.title | title}}
      {% else %}
      {{ page.title }}
      {% endif %}
    </h1>
    <nav>
      {% if page.ancestors | length > 2%}
      <ul class="parents">
        {% for anc_path in page.ancestors %}
        {% if loop.index < 2 %} {% continue %} {% endif %} {% if (anc_path is ending_with("_index.md")) %} {% set
          content=get_section(path=anc_path) %} {% else %} {% set content=get_page(path=anc_path) %} {% endif %} <li>
          <a href="{{ content.permalink | safe }}">{{ content.title }}</a>
          </li>
          {% endfor %}
      </ul>
      {% endif %}
    </nav>
    <hr />
    </section>
    {% endblock content_title %}
  {% if page.word_count == 0 %}
    {% set link = "[github repo]("~config.extra.repo~")" | markdown(inline=true) %}
    {% set type = "warning" %}
    {% set body = "This article is a stub!<br /><br />New content can be contributed as a pull request on our "~link~"." %}
    {% include "shortcodes/callout.html" %}
  {% endif %}
  {% include "components/sidebar.html" %}
  {{ page.content | safe }}
  {% include "components/taxonomy-nav.html" %}
  </div>
  

  {% endblock content %}