{% extends "index.html" %}
{% import "macros/utils.html" as utils %}
{% import "macros.html" as macros %}
{% block title %} {{ config.title }} | {{ page.title }} {% endblock title %}

{% block content %}
<h1 class="title">
  {% if page.extra.reformat_title | default(value=true) %} 
    {{ page.title | title}}
  {% else %}
    {{ page.title }}
  {% endif %}
</h1>
{% if page.date %}
<sub>
  Posted {{ page.date | date(format="%Y-%m-%d %H:%M") }}.
  {% if page.unpated %}Updated {{ page.updated }}{% endif %}
</sub>
{% endif %}
<hr />
{# Check if page is in the "character section" #}
{% block sidebar %}
  {% set class = "" %}
  {% if page.path is starting_with("/characters") %}
    {% set class = class ~ " sidebar-character"%}
  {% endif %}
  {% if page.path is starting_with("/vehicles") %}
    {% set class = class ~ " sidebar-character"%}
  {% endif %}
  {% if page.path is starting_with("/locations") %}
    {% set class = class ~ " sidebar-location" %}
  {% endif %}
  {% if page.path is starting_with("/events") %}
    {% set class = class ~ " sidebar-events" %}
  {% endif %}
  {% if page.ancestors | length > 3 %}
    {% set class = class ~ " sidebar-section" %}
  {% endif %}
  {% if class != "" %}
  <aside class="sidebar {{ class }}">
    {{ utils::sidebar_portrait(config=page) }}
    {% if page.path is starting_with("/character") or page.path is starting_with("/vehicles") %}
      {{ macros::sidebar_character(name=page.title, config=page) }}
    {% endif %}
    {% if page.path is starting_with("/locations") %}
      {{ macros::sidebar_location(name=page.title, config=page) }}
    {% endif %}
    {% if (page.path is starting_with("/events")) %}
    {{ macros::sidebar_event(name=page.title, config=page) }}
    {% endif %}
    {% if page.ancestors | length > 3 %}
    {% set ancestors = page.ancestors | reverse %}
    {% set path = ancestors[1] %}
    {% set section = get_section(path=path) %}
    {% if section.subsections -%}
    <hr />
    {% for subsec in section.subsections -%}
        {% set sec_ = get_section(path=subsec) -%}
        <input class="tree-toggle" type="checkbox" id="{{ sec_.title | slugify }}" {% if current_path is
          starting_with(sec_.path) %}checked{% endif %} />
        <label class="tree-toggle-label" for="{{ sec_.title | slugify }}">
          {{ sec_.title }}
          <a href="{{ sec_.permalink | safe }}{{ _ugly_url }}">&#x1F5CB;</a>
        </label>
        <ul class="subtree">
          {% for page in sec_.pages %}
          <li {% if current_path==page.path %}class="active" {% endif %}>
            <a href="{{page.permalink | safe }}{{ _ugly_url }}">{{ page.title }}</a>
          </li>
          {% endfor %}
        </ul>
      {% endfor %}
      {% endif -%}
      {% endif%}
  </aside>
  {% endif %}
  {% endblock %}
  {% if page.word_count == 0 %}
  {% set link = "[github repo]("~config.extra.repo~")" | markdown(inline=true) %}
  {% set type = "warning" %}
  {% set body = "This article is a stub!<br /><br />New content can be contributed as a pull request on our "~link~"." %}
  {% include "shortcodes/callout.html" %}
  {% endif %}
  {{ page.content | safe }}
  {% block taxonomies %}
  {% if page.taxonomies %}
  <table id="taxonomy-nav" role="nav">
    {% for kind, terms in page.taxonomies %}
    {% set taxonomy = get_taxonomy(kind=kind) %}
      {% if taxonomy.kind.render == false %}
        {% continue %}
      {% endif %}
      <thead>
        <tr>
          <td colspan="2">{{ kind | replace(from="_", to=" ") | title }}</td>
        </tr>
      </thead>
      {% for term in terms %}
      <tbody>
        <tr>
          <td>{{ term }}</td>
          <td>
            {% set entity = get_taxonomy_term(kind=kind, term=term) %}
            <ul>
              {% for ent_page in entity.pages %}
              <li>
                <a href="{{ ent_page.permalink | safe }}">{{ ent_page.title }}</a></li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </tbody>
    {% endfor %}
    {% endfor %}
  </table>
  
  {% endif %}
  {% endblock taxonomies %}
{% endblock %}
  {% block backlinks %}
  <aside class="backlinks">
    <h1>Backlinks</h1>
    <ul>
      {% for link in page.backlinks %}
      <li><a href="{{ link.permalink }}">{{ link.title }}</a></li>
      {% endfor%}
    </ul>
  </aside>
  {% endblock backlinks %}