{% extends "index.html" %}
{% import "macros.html" as macros %}
{% block title %} {{ config.title }} | {{ page.title }} {% endblock title %}

{% block content %}
<div id="calendar-header">
  {{ macros::calendar(size='md')}}
</div>
<h1 class="title">{{ page.title | title }}</h1>
<hr />
{# Check if page is in the "character section" #}
  {% block sidebar %}
  {% set ddb = page.ddb | default(value="")%}
  {% set class = "" %}
  {% if page.path is starting_with("/character") %}
    {% set class = class ~ " sidebar-character"%}
  {% endif %}
  {% if page.path is starting_with("/locations") %}
    {% set class = class ~ " sidebar-location" %}
  {% endif %}
  <aside class="sidebar {% if class %}{{ class }}{% endif %}">
    <h2><a target="_blank" rel="noopen" href="{% if ddb %}{{ ddb | safe }}{% endif %}">{{ page.title }}</a></h2>
    <hr />
    {% if page.path is starting_with("/character") %}
      {{ macros::sidebar_character(name=page.title, config=page) }}
      {% endif %}
      {% if page.path is starting_with("/locations") %}
      {{ macros::sidebar_location(name=page.title, config=page) }}
    {% endif %}
  </aside>
  {% endblock %}
  {{ page.content | safe }}
{% endblock %}