{% if config.extra.logo -%}
<header id="site-logo">
  {% set _logo = config.extra.logo -%}
  {% if (_logo is starting_with("http")) == false -%}
  {% set resized_image = resize_image(path=config.extra.logo, width=64, op="fit_width", format="webp") %}
  {% set _logo = resized_image.url -%}
  {% endif -%}
  <a href="{{ config.base_url }}">
    <img src="{{ _logo | safe }}" alt="logo" />
    <span class="title">
      {{ config.title }}
    </span>
  </a>
  {% if config.extra.socials -%}
  <div id="socials">
    {% for item in config.extra.socials %}
    <a href="{{ item.url | safe }}" rel="noopen noreferrer" target="_blank" title="{{ item.type }}">
      <i class="fa-brands fa-{{ item.type }}" aria-hidden="true"></i>
    </a>
    {% endfor %}
    <a href="https://github.com/nicodoggie/bastion-falls/actions/workflows/change.yaml" rel="noopen noreferrer"
      target="_blank">
      <img src="https://github.com/nicodoggie/bastion-falls/actions/workflows/change.yaml/badge.svg" />
    </a>
  </div>
  {% endif -%}
  <div class="search-container"><input id="search" type="search" placeholder="Search as you type..."></div>
</header>
{% endif -%}