{% set lexdata = load_data(path=path, format=format) %}
{% if lexdata | safe %}
{% for id, lexitem in lexdata.lexicon %}

<dl id="{{ id }}" class="lexical-entry">
  <dt class="lexical-entry-word">
    <span class="lexical-entry-word-written">{{ lexitem.writtenForm }}</span>
    {% if lexitem.phoneticForm %}
    <span class="lexical-entry-word-phonetic">/{{ lexitem.phoneticForm }}/</span>
    {% endif %}
    
    {% set types = [] %}
    
    {%- for type in lexitem.types -%}
    {%- if type == "lexinfo:Noun" -%}
    {%- set types = types | concat(with="noun") -%}
    {%- elif type == "lexinfo:Verb" -%}
    {%- set types = types | concat(with="verb") -%}
    {%- elif type == "lexinfo:Adjective" -%}
    {%- set types = types | concat(with="adjective") -%}
    {%- elif type == "lexinfo:Adverb" -%}
    {%- set types = types | concat(with="adverb") -%}
    {%- elif type == "lexinfo:Interjection" -%}
    {%- set types = types | concat(with="interjection") -%}
    {%- elif type == "lexinfo:Pronoun" -%}
    {%- set types = types | concat(with="pronoun") -%}
    {%- elif type == "lexinfo:Preposition" -%}
    {%- set types = types | concat(with="preposition") -%}
    {%- elif type == "lexinfo:Conjunction" -%}
    {%- set types = types | concat(with="conjunction") -%}
    {%- elif type == "lexinfo:Determiner" -%}
    {%- set types = types | concat(with="determiner") -%}
    {%- elif type == "lexinfo:Particle" -%}
    {%- set types = types | concat(with="particle") -%}
    {%- elif type == "lexinfo:Interrogative" -%}
    {%- set types = types | concat(with="interrogative") -%}
    {%- elif type == "lexinfo:Numeral" -%}
    {%- set types = types | concat(with="numeral") -%}
    {%- elif type == "lexinfo:Suffix" -%}
    {%- set types = types | concat(with="suffix") -%}
    {%- endif -%}
    {%- endfor -%}
    
    <span class="lexical-category">&lpar;{{ types | join(sep=", ") }}&rpar;</span>

  </dt>

  {% if lexitem.senses %}
  {% for sense in lexitem.senses %}
  {% if sense.definition %}
  <dd class="sense-definition">{{ sense.definition }}</dd>
  {% else %}
  <dd class="sense-definition">No definition provided.</dd>
  {% endif %}

  {% if sense.usage %}
  <dd class="sense-usage">{{ sense.usage }}</dd>
  {% endif %}
  {% if sense.semanticField %}
  <dd class="sense-fields">{{ sense.semanticField | join(sep=", ") }}</dd>
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if lexitem.protoform %}
  <dd class="etymology-protoform">{{ lexitem.protoform }}</dd>
  {% endif %}
  {% if lexitem.note %}
  <dd class="etymology-note">{{ lexitem.note }}</dd>
  {% endif %}
</dl>
{% if lexitem.derivedForms %}
{% for derivedForm in lexitem.derivedForms %}
<dl class="lexical-entry derived-form">
  <dt class="lexical-entry-word derived-form-word">
    <span class="lexical-entry-word-written derived-form-word">{{ derivedForm.writtenForm }}</span>
    <span class="lexical-entry-word-phonetic derived-form-phonetic">/{{ derivedForm.phoneticForm }}/</span>
  </dt>
  <dd class="derived-form-definition">{{ derivedForm.grammaticalMeaning }}</dd>
  <dd class="derived-form-decomposition">{{ derivedForm.decomposition }}</dd>
</dl>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
