{% set lexdata = load_data(path=path, format=format) %}
{% if lexdata | safe %}

<h2 id="semantic-fields-ref">Semantic Fields Reference</h2>
<ul>
  {% for key, field in lexdata.fields %}
  <li><a href="#{{ field.uri }}">{{ field.label }}</a></li>
  {% endfor %}
</ul>
{% for field, lexitems in lexdata.lexicon %}

<h2 id="{{ lexdata.fields[field].uri }}">{{ lexdata.fields[field].label }} <a href="#semantic-fields-ref">↩</a></h2>

{% for lexitem in lexitems %}
<dl id="{{ lexitem.id }}" class="lexical-entry">
  <dt class="lexical-entry-word">
    <span class="lexical-entry-word-written">{{ lexitem.writtenForm }}</span>
    <span class="lexical-entry-word-phonetic">/{{ lexitem.phoneticForm }}/</span>
    {% if lexitem.lexicalCategory -%}
    <span class="lexical-category">&lpar;
      {%- if lexitem.lexicalCategory == "lexinfo:Noun" -%}
      noun
      {%- elif lexitem.lexicalCategory == "lexinfo:Verb" -%}
      verb
      {%- elif lexitem.lexicalCategory == "lexinfo:Adjective" -%}
      adjective
      {%- elif lexitem.lexicalCategory == "lexinfo:Adverb" -%}
      adverb
      {%- elif lexitem.lexicalCategory == "lexinfo:Interjection" -%}
      interjection
      {%- elif lexitem.lexicalCategory == "lexinfo:Pronoun" -%}
      pronoun
      {%- elif lexitem.lexicalCategory == "lexinfo:Preposition" -%}
      preposition
      {%- elif lexitem.lexicalCategory == "lexinfo:Conjunction" -%}
      conjunction
      {%- elif lexitem.lexicalCategory == "lexinfo:Determiner" -%}
      determiner
      {%- elif lexitem.lexicalCategory == "lexinfo:Particle" -%}
      particle
      {%- elif lexitem.lexicalCategory == "lexinfo:Interrogative" -%}
      interrogative
      {%- elif lexitem.lexicalCategory == "lexinfo:Numeral" -%}
      numeral
      {%- elif lexitem.lexicalCategory == "lexinfo:Suffix" -%}
      suffix
      {%- endif -%}
      &rpar;</span>
    {%- endif -%}

  </dt>

  {% if lexitem.senses %}
  {% for sense in lexitem.senses %}
  <dd class="sense-definition">{{ sense.definition }}</dd>

  {% if sense.usage %}
  <dd class="sense-usage">{{ sense.usage }}</dd>
  {% endif %}

  {% if sense.semanticField %}
  {% set_global semFields = [] %}
  {% for field in sense.semanticField %}
  {% if field not in semFields %}
  {% set fieldLink = "[" ~ lexdata.fields[field].label ~ "](#" ~ lexdata.fields[field].uri ~ ")" | markdown(inline=true)
  | safe %}
  {% set_global semFields = semFields | concat(with=fieldLink) %}
  {% endif %}
  {% endfor %}
  <dd class="sense-fields">{{ semFields | join(sep=", ") | safe }}</dd>
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if lexitem.protoform %}
  <dd class="etymology-protoform">{{ lexitem.protoform }}</dd>
  {% endif %}
  {% if lexitem.note %}
  <dd class="etymology-note">{{ lexitem.note }}</dd>
  {% endif %}
</dl>
{% if lexitem.derivedForms %}
{% for derivedForm in lexitem.derivedForms %}
<dl class="lexical-entry derived-form">
  <dt class="lexical-entry-word derived-form-word">
    <span class="lexical-entry-word-written derived-form-word">
      {{ derivedForm.writtenForm }}
    </span>
    <span class="lexical-entry-word-phonetic derived-form-phonetic">
      /{{ derivedForm.phoneticForm }}/
    </span>
  </dt>
  <dd class="derived-form-definition">{{ derivedForm.grammaticalMeaning }}</dd>
  <dd class="derived-form-decomposition">{{ derivedForm.decomposition }}</dd>
</dl>
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}
