{% extends "index.html" %}
{% block content %}

{% set context = "" %}
{% if section %}
{% set context = section %}
{% else %}
{% set context = config %}
{% endif %}

{# generate groups #}

<body>
  <h1>{{ context.title }}</h1>
  <table id="org-list">
    <tr>
      <th>Type</th>
      <th>Name</th>
    </tr>
    {% set taxonomy = get_taxonomy(kind='families')%}
    {% for term in taxonomy.items %}
    {% for page in term.pages %}
    <tr>
      {% set pages = term.pages | length %}
      {% if loop.index == 1 %}
      <td class="col-title col-left col-bold" rowspan="{{ pages }}">{{ term.name }}</td>
      {% endif %}
      <td class="col-left">
        <a href="{{ page.permalink }}">{{ page.title }}</a>
      </td>
    </tr>
    {% endfor %}

    {% endfor %}
  </table>

</body>
{% endblock %}